@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*Style general*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Style Header*/

header{
    width: 100%;
    padding: 15px;
    background-color: #222222;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    align-items: center;
    justify-content: space-between;
}

.logo{
    display:flex;
    align-items: center;
}


h1{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

#pizza{
    color:#39B24A;
}

#front{
    color:#FC200C;
}

.pizzalogo{
    width: 92px;
    height: 80px;
}

.nav-bar{
    display:flex;
}


.enlaces{
    color: white;
    list-style: none;
    display:flex;
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.nav-bar ul li {
    margin-left: 13px;
}

/*Style Main*/

main{
    width: 94%;
    margin: 3%;
    display: inline-flex;
    box-shadow: 0px 4px 4px 0px rgba(244, 245, 226, 0.781); 
    align-items: center;
    border-radius: 5px;
    color: #FC200C;
    font-size: 24px;
}