@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*Style general*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Style Header*/

header{
    width: 100%;
    padding: 15px;
    background-color: #222222;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    align-items: center;
    justify-content: space-between;
}

.barra-solid{
    display: none;
}

.logo{
    display:flex;
    align-items: center;
}


h1{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

#pizza{
    color:#39B24A;
}

#front{
    color:#FC200C;
}

.pizzalogo{
    width: 92px;
    height: 80px;
}

.nav-bar{
    display:flex;

}


.enlaces{
    list-style: none;
    display:flex;
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.nav-bar ul li{
    margin-left: 13px;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
}


/*Style Main*/

main{
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0px 4px 4px 0px rgba(244, 245, 226, 0.781);  
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    color: #FC200C;
    background: #F3F3F3;
}

.promocion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.Pizzero{
    display: flex;
    flex-direction: row;
    justify-items: center;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.Pizzero h2{
    display: flex;
    position: absolute;
    left: 20px;
    top: 25px;
    gap: 6px;
}

#comprando{
    display: flex;
    color: #FFF;
}


.toppizzas{
    width: 460px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 20px 70px 50px 80px;
    gap:50px;
    border-radius: 5px;
}

.pizzaslista{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #222222;
    gap: 80px;
}

.topcinco{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.topcinco ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
}

/*Style footer*/
footer{
    width: 100%;
    padding: 15px;
    background-color: #222222;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    justify-content: space-between;
}

.footerInf{
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    flex-direction: column;
    gap: 10px;

}

.footerInf li a{
    text-decoration: none;
    color: white;
}


/*------------Media Query-----------------*/
@media (max-width: 481px){   
    
    .nav-bar{
        display:none;
    }
    
    .barra-solid{
        display: flex;
    }
    
    
    /*Style Main*/
     
    .promocion{
        flex-direction: column-reverse;
    }
    
    .Pizzero{
        margin-top: 20px ;
    }
    
    .imgPizzero{
        width: 100%;
    }
    .toppizzas{
        width: 100%;
    }
    /*Style footer*/
    footer{
        flex-direction: row-reverse;
    }
}
